.ActivityImage img {
  width: 4rem;
  height: 4rem;

  border-radius: 50%;
  background-color: thistle;
  margin: 0 .5rem;
}

.Activity span {
  display: flex;
  justify-content: center;  
}


@media (min-width: 425px) {
  .ActivityImage img  {
    width: 5rem;
    height: 5rem;
  }
}

@media (min-width: 600px) {
  .ActivityImage img  {
    width: 6rem;
    height: 6rem;
  }
}

@media (min-width: 768px) {
  .ActivityImage img  {
    width: 7rem;
    height: 7rem;
  }
}

@media (min-width: 900px) {
  .ActivityImage img  {
    width: 8rem;
    height: 8rem;
  }
}

@media (min-width: 1024px) {
  .ActivityImage img  {
    width: 9rem;
    height: 9rem;
  }
}

@media (min-width: 1280px) {
  .ActivityImage img  {
    width: 10rem;
    height: 10rem;
  }
}