.CategoryContainer {
  padding: 2rem 1rem;
  background-image: url('https://images.unsplash.com/photo-1579547621309-5e57ab324182?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');

  background-size: cover;
}

.Category {
  max-width: 520px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Category .Breadcumbs {
  font-weight: 400;
  color: var(--secondary)
}

.Category .Breadcumbs li p {
  font-weight: 500;
  color: var(--secondary)
}

.Category .CategoryPresentation {
  margin-top: 3rem;
}

.CategoryPresentation h3 {
  color: var(--primary);
  font-size: 1.5rem;
}

.CategoryPresentation p {
  margin-top: 1rem;

  font-weight: 400;
  font-size: .85rem
}


@media (min-width: 768px) {
  .CategoryContainer {
    height: 22rem;
    padding: 2rem 4rem;
  }

  .CategoryPresentation {
    padding-bottom: 1rem;
  }

  .CategoryPresentation h3 {
    font-size: 2rem;
  }
  
  .CategoryPresentation p {
    margin-top: .5rem;
  
    font-weight: 400;
    font-size: 1rem
  }
}