.EventContainer {
  background-image: url("https://images.unsplash.com/photo-1579547621309-5e57ab324182?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  padding: 2rem 1rem;

}

.EventContainer .Event {
  display: flex;
  flex-direction: column;

  max-width: 72rem;
  margin: 0 auto;
}

.Event div p {
  font-weight: 500;
  font-size: .85rem;
}

.Event div h1 {
  font-size: 1.625rem;
  margin: .5rem 0;
}

.Address {
  padding: 1rem 0;
  max-width: 350px;
}

.About {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;


  max-width: 72rem;
  margin: 0 auto;
}

.About img{
  width: 100%;
  margin-top: 2rem;
}

.About h1{
  color: var(--primary);
  padding: .5rem 0;
}

.About p {
  font-size: .85rem;
  line-height: 1.25rem;
  display: flex;
  text-align: justify;
}

.Speakers {
  padding: 2rem 1rem;
  
  max-width: 72rem;
  margin: 0 auto;
}

.Speakers h1 {
  color: var(--primary);
  padding: .5rem 0;
}

.AboutSpeakers {
  padding: 2rem 0;
}

.AboutSpeakers img {
  width: 100%;
}

.AboutSpeakers h1 {
  color: var(--primary);
  padding: .5rem 0;
}

.AboutSpeakers span {
  color: #858585;
  font-size: 1.25rem;
  padding: .5rem 0;
}

.AboutSpeakers p {
  font-size: .85rem;
  line-height: 1.25rem;
  display: flex;
  text-align: justify;
  padding-top: .5rem;
}

.Programation {
  background-color: var(--primary);
  padding: 2rem 1rem;
}

.Programation h1:first-child {
    color: var(--white);
}

.ProgramationContainer  div:first-child {
  margin-top: 2rem;
}

.ProgramationContainer  div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
  padding-bottom: 3rem;
}

.ProgramationContainer div:nth-child(1),
.ProgramationContainer div:nth-child(2) {
  border-left: 4px solid var(--white);
}

.ProgramationContainer  div h1 {
  font-size: 3rem;
}

.Programation .ProgramationContainer .Speaker {
  color: var(--secondary);
  font-weight: 500;
  padding: 1rem 0 .25rem;
}

.Programation .ProgramationContainer span:nth-child(3) {
  color: var(--white);
}

.Location {
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;


  padding: 2rem 1rem;
}

.Location div img {
  width: 100%;
}

.LocationAddress h1 {
  color: var(--primary);
  padding: .5rem 0;
}

.LocationAddress span {
  color: #858585;
  font-size: 1.25rem;
  padding: .5rem 0;
}

.LocationAddress p {
  font-size: .85rem;
  line-height: 1.25rem;
  display: flex;
  text-align: justify;
  padding-top: .5rem;
}

@media (min-width: 425px) {
  .Programation {
    padding: 3rem 2rem;
  }

  .Programation .ProgramationContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-top: 2rem;
    max-width: 72rem;
    margin: 0 auto;
  }

  .ProgramationContainer  div:first-child {
    margin-top: 0;
  }

  .Programation .ProgramationContainer div {
    width: 50%;
  }
}


@media (min-width: 600px) {
  .About {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .About div {
    width: 50%;
    margin: 0 .5rem;
  }

  .About img{
    width: 100%;
    margin-right: 1rem;
    margin-top: 0;
  }

  .About h1{
    padding: 0;
  }

  .AboutSpeakers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .AboutSpeakers div {
    width: 50%;
    margin: 0 .5rem;
  }

  .Speakers div:nth-child(3) div:first-child {
    order: 1;
  }

  .Speakers div:nth-child(3) .AboutInformations {
    order: 0;
  }

  .AboutSpeakers img{
    width: 100%;
    margin-right: 1rem;
    margin-top: 0;
  }

  .AboutSpeakers h1{
    padding: 0;
  }

  .Location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .Location div {
    width: 50%;
    margin: 0 .5rem;
  }

  .Location img{
    width: 100%;
    margin-right: 1rem;
    margin-top: 0;
  }

  .LocationAddress h1{
    padding: 0;
  }
}

@media (min-width: 800px) {
  .EventContainer {
    padding: 2rem 4rem;
  }
  
  .EventContainer .Event {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 16rem;
  }

  .Event div p {
    font-weight: 500;
    font-size: 1rem;
  }
  
  .Event div h1 {
    font-size: 2rem;
    margin: .5rem 0;

    color: var(--primary)
  }

  .Address {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .About {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    padding: 2rem 4rem;
  }

  .About .AboutInformations {
    padding-left: 1rem;
    border-left: 4px solid var(--primary);
  }

  .Location {
    padding: 2rem 4rem;
  }

  .Location .LocationAddress {
    padding-left: 1rem;
    border-left: 4px solid var(--primary);
  }

}

@media (min-width: 1024px) {
  .About div:first-child {
    display: flex;
    justify-content: end;
  }

  .About img {
    height: 18rem;
    width: 28rem;

    margin-left: auto;
  }

  .About h1{
    font-size: 2rem;
  }

  .About p {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}