.CategoriesComponent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5rem;

  padding: 2rem 1rem;
}

.CategoriesComponent div {
  margin: .5rem;
}

.CategoriesComponent .ActivityImage img {
  width: 8rem;
  height: 8rem;
}

@media (min-width: 425px) {
  .CategoriesComponent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: .5rem;
  
    padding: 5rem 4rem;
  }

  .CategoriesComponent .ActivityImage img {
    width: 10rem;
    height: 10rem;
  }
}

@media (min-width: 1280px) {
  .CategoriesComponent {
    justify-content: start;
  }
}