.LargeCardContainer {
  background-color: var(--primary);
  padding: 1rem;
}

.LargeCard {
  background-color: var(--white);
  padding: 2rem 1rem;

  border-radius: 0.25rem;
  min-height: calc(100vh - 8rem);
}

.FormContainer h3 {
  font-size: 1.75rem;
  color: var(--primary);

  font-weight: 500;
}

.FormControl {
  padding: 2rem 0 1rem;
}

.FormContainer .FormControlInput {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 0.75rem;
  position: relative;
}

.FormControlInput input {
  background-color: var(--gray);
  padding: 0.85rem 0 0.85rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  border-radius: 36px;
}

.InputIcon {
  position: absolute;
  top: 50%;
  left: 25px;

  margin-top: 1px;
  color: var(--primary);
}

.FormControlInput input:focus {
  border: 2px solid var(--primary);
}

.Divider {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--primary);
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.Divider span {
  background: #fff;
  padding:0 10px; 
  color: var(--primary);
}
