.LargeCard {
  background-color: var(--white);
  padding: 2rem 1.2rem;

  border-radius: 0.25rem;

  min-height: calc(100vh - 4.5rem);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.FormContainer h3 {
  font-size: 1.75rem;
  color: var(--primary);

  font-weight: 500;
}

.FormControl {
  padding: 2rem 0 1rem;
}

.FormContainer .FormControlInput {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 0.75rem 0;
  position: relative;
}

.FormControlInput label {
  font-size: 0.85rem;
  font-weight: 400;
  padding-left: 1rem;
}

.FormControlInput input {
  background-color: var(--gray);
  padding: 1.125rem 0 1.125rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  border-radius: 36px;
}

.InputIcon {
  position: absolute;
  top: 50%;
  left: 15px;

  margin-top: 1px;
  color: var(--primary);
}

.FormControlInput input:focus {
  border: 2px solid var(--primary);
}

.Divider {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--primary);
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.Divider span {
  background: #fff;
  padding: 0 10px;
  color: var(--primary);
}

.SocialLoginButtons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.SocialLoginButtons .SocialLoginButton {
  padding: 1rem;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 18rem;

  border-radius: 36px;
  font-weight: 500;
}

.SocialLoginButton:first-child {
  border: 1px solid var(--gray);
  color: #4f4f4f;
}

.SocialLoginButton:first-child a {
  color: #4f4f4f;
}

.SocialLoginButton:nth-child(2) {
  padding: 0.75rem 1rem;
  background-color: #3a559f;
}

.SocialLoginButton:nth-child(2) a {
  color: var(--white);
}

.SocialLoginButton:first-child img {
  width: 1.25rem;
  margin-right: 1rem;
}

.SocialLoginButton:nth-child(2) img {
  width: 2rem;
  margin-right: 1rem;
}

.ContinueButton {
  width: 100%;
  padding: 0.9375rem 1rem;
  background-color: var(--primary);
  
  border-radius: 36px;
  margin-bottom: 0.5rem;
  text-align: center;
}

.ContinueButton a{
  border: none;
  background-color: inherit;
  color: var(--white);
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

.SigninOrSignup {
  padding: 2rem 0;

  text-align: center;
}

.SigninOrSignup span {
  font-weight: 500;
}

.SigninOrSignup a {
  text-decoration: none;
}

.LargeCardContainer .WelcomeSection {
  display: none;
}

@media (min-width: 500px) {
  .LargeCardContainer {
    background-image: url("https://images.unsplash.com/photo-1579547621309-5e57ab324182?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh - 4.5rem);
    padding: 1rem 2rem 0 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .LargeCardContainer .LargeCard {
    width: 456px;
    padding: 2rem 3rem;
  }
}

@media (min-width: 1024px) {
  .LargeCardContainer .WelcomeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .LargeCardContainer .WelcomeSection img {
    width: 10rem;
    margin: .5rem 0;
  }

  .LargeCardContainer .WelcomeSection span {
    font-size: 1rem;
    color: var(--primary);
    padding: .5rem 0;
    font-weight: 500;
  }

  .FormContainer h3 {
    font-size: 2rem;
    color: var(--primary);

    font-weight: 500;
  }
}
