.BannerEventContainer {
  background-image: url("https://images.unsplash.com/photo-1579547621309-5e57ab324182?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  padding: 2rem 1rem;

}

.BannerEventContainer .Event {
  display: flex;
  flex-direction: column;

  max-width: 72rem;
  margin: 0 auto;

  padding: 4rem 0;
}

.Event div p {
  font-weight: 500;
  font-size: .85rem;
}

.Event div h1 {
  font-size: 1.625rem;
  margin: .5rem 0;
}

.Address {
  padding: 1rem 0;
  max-width: 350px;
}

@media (min-width: 800px) {
  .BannerEventContainer {
    padding: 2rem 4rem;
  }
  
  .BannerEventContainer .Event {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 16rem;
  }

  .Event div p {
    font-weight: 500;
    font-size: 1rem;
  }
  
  .Event div h1 {
    font-size: 2rem;
    margin: .5rem 0;

    color: var(--primary)
  }

  .Address {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}