* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

button, input {
  border: none;
}

button:focus,
input:focus {
  outline: none;
}

:root {
  --primary: #67519F;
  --secondary: #EBC733;
  --white: #fff;
  --black: #000;
  --gray: #e5e5e5;
}