.HighlightedCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: -2px 4px 4px 3px rgba(0, 0, 0, 0.25);

  padding-left: 0 1rem;
}

.CardImage img{
  width: 100%;
  margin-bottom: .5rem;
}


.Informations h3 {
  font-size: 1.25rem;
  padding-top: .5rem;
  padding-left: 0;
}

.Informations p {
  font-size: 1rem;
  padding: .5rem 0 1rem;

  font-weight: 400;
  color: #828282;
}

@media (min-width: 630px) {
  .HighlightedCard {
    flex-direction: row;
    gap: 0.5rem;

    max-width: 64rem;
  }

  .CardImage {
    width: 50%;
  }

  .Informations {
    width: 50%;
    padding: 1rem
  }
}
